In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

## Solar Energy Generation (Potential, By State)

In [2]:
# Read CSV
file_path = "Resources/usretechnicalpotential.csv"

# Dataframe
solar_energy_df = pd.read_csv(file_path)
solar_energy_df.head()

,Unnamed: 0,urbanUtilityScalePV_GWh,urbanUtilityScalePV_GW,urbanUtilityScalePV_km2,ruralUtilityScalePV_GWh,ruralUtilityScalePV_GW,ruralUtilityScalePV_km2,rooftopPV_GWh,rooftopPV_GW,CSP_GWh,...,biopowerGaseous_GWh,biopowerGaseous_GW,biopowerGaseous_Tonnes-CH4,geothermalHydrothermal_GWh,geothermalHydrothermal_GW,EGSGeothermal_GWh,EGSGeothermal_GW,hydropower_GWh,hydropower_GW,hydropower_countOfSites
0,Alabama,35850,20,426,3706838,2114,44058,15475.0,12,0,...,1533,0,326186,0,0,535489.0,67.0,4102,0,2435
1,Alaska,166,0,2,8282976,9005,187608,NaN,1,0,...,61,0,13156,15437,1,NaN,NaN,23675,5,3053
2,Arizona,121305,52,1096,11867693,5147,107230,22736.0,14,12544333,...,837,0,178188,8329,1,1239147.0,157.0,1303,0,1958
3,Arkansas,28960,15,332,4986388,2747,57239,8484.0,6,0,...,1063,0,226178,0,0,628621.0,79.0,6093,1,3268
4,California,246008,111,2320,8855917,4010,83549,106411.0,75,8490916,...,15510,1,3300211,130921,16,1344179.0,170.0,30023,6,9692

In [3]:
# Selecting columns
solar_energy_df = solar_energy_df[["Unnamed: 0", "urbanUtilityScalePV_GWh", "ruralUtilityScalePV_GWh", "rooftopPV_GWh", "CSP_GWh"]]
solar_energy_df.head()

,Unnamed: 0,urbanUtilityScalePV_GWh,ruralUtilityScalePV_GWh,rooftopPV_GWh,CSP_GWh
0,Alabama,35850,3706838,15475.0,0
1,Alaska,166,8282976,NaN,0
2,Arizona,121305,11867693,22736.0,12544333
3,Arkansas,28960,4986388,8484.0,0
4,California,246008,8855917,106411.0,8490916

In [4]:
# Renaming columns
solar_energy_df.columns=["State", "Urban Commercial Solar", "Rural Commercial Solar", "Rooftop Solar", "Concentrated Solar Power"]
solar_energy_df.head()

,State,Urban Commercial Solar,Rural Commercial Solar,Rooftop Solar,Concentrated Solar Power
0,Alabama,35850,3706838,15475.0,0
1,Alaska,166,8282976,NaN,0
2,Arizona,121305,11867693,22736.0,12544333
3,Arkansas,28960,4986388,8484.0,0
4,California,246008,8855917,106411.0,8490916

In [5]:
# Changing NaN values to 0
solar_energy_df.fillna(0, inplace=True)
solar_energy_df.head()

,State,Urban Commercial Solar,Rural Commercial Solar,Rooftop Solar,Concentrated Solar Power
0,Alabama,35850,3706838,15475.0,0
1,Alaska,166,8282976,0.0,0
2,Arizona,121305,11867693,22736.0,12544333
3,Arkansas,28960,4986388,8484.0,0
4,California,246008,8855917,106411.0,8490916

In [6]:
#output clean data frame to csv
energy_potential = "Resources/clean_solar_energy_potential.csv"
solar_energy_df.to_csv(energy_potential,index=False)

## State Population Estimates

In [30]:
# From Wikipedia: List of states and territories of the US by population
pop_url = "https://simple.wikipedia.org/wiki/List_of_U.S._states_by_population"
pop_table = pd.read_html(pop_url)
pop_df = pop_table[0]
pop_df.head()

,"Rank in states & territories, 2019","Rank in states & territories, 2010",State,"Population estimate, July 1, 2019[2]","Census population, April 1, 2010[3]","Percent change, 2010–2019[note 1]","Absolute change, 2010-2019","Total seats in the U.S. House of Representatives, 2013–2023","Estimated population per electoral vote, 2019[note 2]","Estimated population per House seat, 2019","Census population per House seat, 2010","Percent of the total U.S. population, 2018[note 3]"
0,1.0,NaN,California,39512223,37254523,6.1%,"+2,257,700",NaN,718404,745514,702885,11.96%
1,NaN,NaN,Texas,28995881,25145561,15.3%,"+3,850,320",NaN,763050,805441,698503,8.68%
2,NaN,NaN,Florida,21477737,18801310,14.2%,"+2,676,427",NaN,740611,795472,696468,6.44%
3,NaN,NaN,New York,19453561,19378102,0.4%,"+75,459",NaN,670812,720502,717707,5.91%
4,NaN,NaN,Pennsylvania,12801989,12702379,0.8%,"+99,610",NaN,640099,711222,705715,3.87%

In [31]:
pop_df = pop_df[['State', 'Census population, April 1, 2010[3]']]
pop_df.columns=['State', 'Population']
pop_df.head()

          State Population
0    California   37254523
1         Texas   25145561
2       Florida   18801310
3      New York   19378102
4  Pennsylvania   12702379