In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read CSV
file_path = "Resources/usretechnicalpotential.csv"

# Dataframe
solar_energy_df = pd.read_csv(file_path)
solar_energy_df.head()

,Unnamed: 0,urbanUtilityScalePV_GWh,urbanUtilityScalePV_GW,urbanUtilityScalePV_km2,ruralUtilityScalePV_GWh,ruralUtilityScalePV_GW,ruralUtilityScalePV_km2,rooftopPV_GWh,rooftopPV_GW,CSP_GWh,...,biopowerGaseous_GWh,biopowerGaseous_GW,biopowerGaseous_Tonnes-CH4,geothermalHydrothermal_GWh,geothermalHydrothermal_GW,EGSGeothermal_GWh,EGSGeothermal_GW,hydropower_GWh,hydropower_GW,hydropower_countOfSites
0,Alabama,35850,20,426,3706838,2114,44058,15475.0,12,0,...,1533,0,326186,0,0,535489.0,67.0,4102,0,2435
1,Alaska,166,0,2,8282976,9005,187608,NaN,1,0,...,61,0,13156,15437,1,NaN,NaN,23675,5,3053
2,Arizona,121305,52,1096,11867693,5147,107230,22736.0,14,12544333,...,837,0,178188,8329,1,1239147.0,157.0,1303,0,1958
3,Arkansas,28960,15,332,4986388,2747,57239,8484.0,6,0,...,1063,0,226178,0,0,628621.0,79.0,6093,1,3268
4,California,246008,111,2320,8855917,4010,83549,106411.0,75,8490916,...,15510,1,3300211,130921,16,1344179.0,170.0,30023,6,9692

In [3]:
# Selecting columns
solar_energy_df = solar_energy_df[["Unnamed: 0", "urbanUtilityScalePV_GWh", "ruralUtilityScalePV_GWh", "rooftopPV_GWh", "CSP_GWh"]]
solar_energy_df.head()

,Unnamed: 0,urbanUtilityScalePV_GWh,ruralUtilityScalePV_GWh,rooftopPV_GWh,CSP_GWh
0,Alabama,35850,3706838,15475.0,0
1,Alaska,166,8282976,NaN,0
2,Arizona,121305,11867693,22736.0,12544333
3,Arkansas,28960,4986388,8484.0,0
4,California,246008,8855917,106411.0,8490916

In [4]:
# Renaming columns
solar_energy_df.columns=["State", "Urban Commercial Solar", "Rural Commercial Solar", "Rooftop Solar", "Concentrated Solar Power"]
solar_energy_df.head()

,State,Urban Commercial Solar,Rural Commercial Solar,Rooftop Solar,Concentrated Solar Power
0,Alabama,35850,3706838,15475.0,0
1,Alaska,166,8282976,NaN,0
2,Arizona,121305,11867693,22736.0,12544333
3,Arkansas,28960,4986388,8484.0,0
4,California,246008,8855917,106411.0,8490916